/* Fonts:
  font-family: 'Karla Variable', sans-serif;
  font-family: 'Markazi Text Variable', serif;
*/

* {
  margin: 0;
  padding: 0;
}

/* Applies this style to all buttons */
.button {
  font-family: 'Karla Variable', sans-serif;
  padding: 0.5rem 2rem;
  margin: 2rem 0;
  width: fit-content;
  border-radius: 16px;
  background-color:#F4CE14;
}
.button:hover {
  background-color:#ad982d;
}

/* Nav Bar */
.navbar {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-top: 1rem;
  align-items: center;
}
.navbar img {
  height: 5rem;
}
.navbar a {
  font-size: 20pt;
  font-weight: bold;
  font-family: 'Karla Variable', sans-serif;
  margin: 15pt;
}
.navbar a:link {
  text-decoration: none;
}
.navbar a:hover {
  text-decoration: underline;
}

/* Hero Section */
.hero {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #495E57;
}
.heroContainer {
  display: grid;
  grid-template: 1fr / 10% 1fr 1fr 10%;
}
.heroArticle {
  grid-column: 2;
}
.heroTitle {
  font-family: 'Markazi Text Variable', serif;
  font-size: 64pt;
  margin-top: 2rem;
  color: #F4CE14;
}
.heroLocation {
  font-family: 'Markazi Text Variable', serif;
  font-size: 40pt;
  color: #FFFFFF;
  line-height: 0;
}
.heroDescription {
  font-family: 'Karla Variable', sans-serif;
  font-size: 18pt;
  margin-top: 2rem;
  color:#FFFFFF;
  width: 60%;
}
.heroImage {
  grid-column: 3;
  position: relative;
  top: 40pt;
  border-radius: 16px;
  width: 350pt;
}

/* Specials */
.specials {
  margin-top: 5rem;
}
.specialsContainer {
  display: grid;
  grid-template: ". hd . bt ." auto
                 ". s1 s2 s3 ." 1fr
                 / 10% 1fr 1fr 1fr 10%;
}
.specialsTitle {
  font-family: 'Karla Variable', sans-serif;
  font-size: 40pt;
  grid-area: hd;
}
.specialsButton {
  grid-area: bt;
}
.special1 {
  grid-area: s1;
}
.special2 {
  grid-area: s2;
}
.special3 {
  grid-area: s3;
}
.specialCard {
  margin: 1rem;
  background-color: #EDEFEE;
  border-radius: 16px;
}
.specialImage {
  width: 100%;
  object-fit: contain;
  border-radius: 16px;
  border: 1px solid #000000;
}
.specialHeader  {
  display: flex;
}
.specialTitle {
  flex: 1;
  font-family: 'Karla Variable', sans-serif;
  font-size: 18pt;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-left: 1rem;
}
.specialPrice {
  font-family: 'Karla Variable', sans-serif;
  font-size: 16pt;
  color: #EE9972;
  margin-top: 0.5rem;
  margin-right: 1rem;
}
.specialDescription {
  font-family: 'Karla Variable', sans-serif;
  font-size: 16pt;
  margin: 1rem;
  height: 8rem;
  overflow-y: auto;
}
.specialFooter {
  display: flex;
}
.specialDeliveryText {
  font-family: 'Karla Variable', sans-serif;
  font-size: 16pt;
  font-weight: bold;
  margin: 1rem;
}
.specialDeliveryText:hover {
  text-decoration: underline;
}
.specialDeliveryIcon {
  margin: 1rem 0;
  height: 1.5rem;
}

/* Testimonials */
.testimonials {
  margin-top: 50pt;
  background-color: #495E57;
}
.tesContainer {
  display: grid;
  grid-template: ". t1 t2 t3 t4 ." auto / 10% 1fr 1fr 1fr 1fr 10%;
}
.tes1 {
  grid-area: t1;
}
.tes2 {
  grid-area: t2;
}
.tes3 {
  grid-area: t3;
}
.tes4 {
  grid-area: t4;
}
.tesCard {
  margin: 5rem 1rem;
  padding: 1rem;
  background-color: #FFFFFF;
  border-radius: 16px;
}
.tesUserRating {
  display: flex;
}
.tesUserImage {
  display: inline-block;
  height: 6rem;
  vertical-align: middle;
  margin-top: 0.5rem;
}
.tesUserName {
  display: inline-block;
  font-family: 'Karla Variable', sans-serif;
  font-size: 16pt;
  font-weight: bold;
  margin-left: 0.5rem;
}
.tesUserReview {
  font-family: 'Karla Variable', sans-serif;
  font-size: 14pt;
  margin: 0.5rem;
  min-height: 4rem;
  overflow-y: auto;
}

/* "Chicago" section" */
.chicago {
  margin-bottom: 3rem;
}
.chiContainer {
  display: grid;
  grid-template: ". a1 a2 ." auto / 10% 1fr 1fr 10%;
}
.chiTitle {
  font-family: 'Markazi Text Variable', serif;
  font-size: 64pt;
  margin-top: 2rem;
}
.chiLocation {
  font-family: 'Markazi Text Variable', serif;
  font-size: 40pt;
  line-height: 0;
  margin-bottom: 2rem;
}
.chiDescription {
  font-family: 'Karla Variable', sans-serif;
  font-size: 16pt;
  margin-top: 1rem;
}
.chiText {
  grid-area: a1;
}
.chiImages {
  grid-area: a2;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  position: relative;
  margin-top: 1rem;
}
.chiImage1 {
  grid-column: 1 / span 3;
  grid-row: 1;
  width: 15rem;
  padding-top: 30%;
  z-index: 1;
}
.chiImage2 {
  grid-column: 3 / span 3;
  grid-row: 1;
  width: 15rem;
  padding-top: 10%;
}

/* Footer */
.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #D9D9D9;
}
.footerContainer {
  display: grid;
  grid-template: ". . f1 . f2 f3 f4 . ." auto / 10% 90pt 1fr 30pt 1fr 1fr 1fr 90pt 10%;
}
.footerImage {
  grid-area: f1;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 250pt;
}
.footerLinks {
  grid-area: f2;
}
.footerContact {
  grid-area: f3;
}
.footerSocials {
  grid-area: f4;
}
.footerTitle {
  font-family: 'Karla Variable', sans-serif;
  font-size: 24pt;
  font-weight: bold;
}
.footerLink {
  font-family: 'Karla Variable', sans-serif;
  font-size: 24pt;
}
.footerLink:link {
  text-decoration: none;
}
.footerLink:hover {
  text-decoration: underline;
}

/* Booking Form */
.bookPage {
  margin-top: 1rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: #495E57;
}
.bookTitle {
  font-family: 'Markazi Text Variable', serif;
  font-size: 64pt;
  font-weight: bold;
  margin-left: 10%;
  color: #F4CE14;
}
.bookSubheading {
  font-family: 'Markazi Text Variable', serif;
  font-size: 40pt;
  font-weight: bold;
}
.bookInputGroup {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2rem;
  border: 1px solid #000000;
  border-radius: 16px;
  background-color: #FFFFFF;
  padding: 0.5rem 2rem 1rem 2rem;
}
.bookText {
  font-family: 'Karla Variable', sans-serif;
  font-size: 24pt;
}
.bookLabel {
  width: 20rem;
  display: inline-block;
}
.bookInput {
  margin-top: 1rem;
}
.bookInputError {
  font-family: 'Karla Variable', sans-serif;
  font-size: 16pt;
  color: red;
}
.bookEmail {
  font-family: 'Karla Variable', sans-serif;
  font-size: 16pt;
  margin-top: 1rem;
}
.bookRequired {
  font-family: 'Karla Variable', sans-serif;
  font-size: 16pt;
  margin-top: 1rem;
}
.bookButtonContainer {
  text-align: center;
}

.confirmed {
  background-color: #495E57;
  margin-top: 2rem;
  padding: 2rem 0;
}
.confContainer {
  margin: 0 10%;
  justify-items: center;
  border: 1px solid #000000;
  border-radius: 16px;
  background-color: #ffffff;
}
.confText {
  font-family: 'Karla Variable', sans-serif;
  font-size: 24pt;
  display: flex;
  height: 10rem;
  margin: 1rem;
  justify-content: center;
  align-items: center;
}
